header{
  position: relative;
  justify-content: center;
  font-family: 'Catamaran';
}

@font-face {
  font-family: 'Catamaran';
  src: url('https://fonts.googleapis.com/css?family=Catamaran');
}

.header-top{
  background-color: #446695;
  min-height: 25px;
}

.header-bar{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.header-bar-title{
  padding: 0px 40px;
  font-family: 'Catamaran';
}

.header-top{
  background-color: #446695;
  min-height: 25px;
}

.header-navbar{
  width: 100%;
  overflow: auto;
  background-color: #ffffff;
  border-top: 1px solid #aaaaaa;
  border-bottom: 1px solid #aaaaaa
}

.header-navbar a {
  float: left;
  padding: 15px 0px;
  color: #446695;
  text-decoration: none;
  width: 20%; 
  text-align: center; 
  border-bottom: 5px solid transparent;
}

.header-navbar a:hover {
  border-bottom: 5px solid #446695;
  transition: 0.5s;
  color: #446695;
}


.header-bar{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100px;
}

.header-bar-title{
  padding: 0px 60px;
}

.header-top{
  background-color: #446695;
  min-height: 25px;
}

.cart-btn{
  display: flex;
  background-color: #446695;
  border-radius: 5px;
  padding: 5px;
  text-decoration: none;
}

.cart-number{
  font-size: 18pt;
  color: white;
}

.toggle-nav{
  border: none;
  border-radius: 5px;
  background-color: #446695;
  color: #cccccc;
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 8px;
  cursor: pointer;
  display: none;
}

@media screen and (max-width: 768px) {
  .toggle-nav{
      display: flex;
  }
  .header-navbar {
      flex-direction: column;
      display: none;
  }
  .header-navbar a {
      width: 100%;
  }
  .details-container{
      flex-wrap: wrap;
  }
  .footer-navbar a{
      width: 100%;
  }
}


@media screen and (min-width: 768px) {
  .header-navbar a {
      width: 20%;
  }
}