.EntryContainer {
    border: 3px solid #c51230;
    border-radius: 10px;
    color: #888888;
    width: 300px;
    max-width: 300px;
    min-width: 300px;
}
  
.EntryContainer img {
    width: 300px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }

.EntryContainer col{
  width: 300px;
}

@font-face {
  font-family: "Catamaran";
  src: local("Catamaran"),
    url(./assets/fonts/Catamaran-VariableFont_wght.ttf) format("truetype");
}


  